.react-swiper{
    position: relative;
    overflow: hidden;
    .react-swiper-container{
        position: relative;
        display: flex;
        transition: transform .3s ease;
        .react-swipe{
            display: flex;
            flex-shrink: 0;
            width: 100%;
            height: 100%;
        }
    }
    .mousemove-container{
        transition-duration:0ms;
    }
    .react-swiper-pagination{
        text-align: center;
        .pagination-item{
            display: inline-block;
            width: 10px;
            height: 10px;
            transition: transform .5s ease;
            background-color: aquamarine;
        }
        .pagination-item-active{
            transform: rotateZ(45deg);
            background-color: blueviolet;
        }
    }
}